<div align="center">

    <h1> Account List </h1>
    
    <ul>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
    
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let index of this.userlist; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{userlist[i]._id}}</td>
                                <td>{{userlist[i].email}}</td>
                                <td>{{userlist[i].status}}</td>
                                <td>
                                    <button (click)="changetoActivate(userlist[i])" title="Activate">
                                        <img src="assets/image/US-Normal.png" height="25" width="25">
                                    </button> Activate
                                    <br>
                                    <button (click)="changetoLock(userlist[i])" title="Lock">
                                        <img src="assets/image/US-Locked.png" height="25" width="25">
                                    </button> Lock
                                </td>
                                <td>{{userlist[i].level}}</td>
                                <td>
                                    <button (click)="changetoNormal(userlist[i])" title="Normal">
                                        <img src="assets/image/US-Lnormal.png" height="25" width="25">
                                    </button> To normal
                                    <br>
                                    <button (click)="changetoAdmin(userlist[i])" title="Admin">
                                        <img src="assets/image/US-Ladmin.png" height="25" width="25">
                                    </button> To admin
                                </td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    </ul>
    
</div>