<div align="center">

    <h1 *ngIf="showSucessMessage"> Playlist Information </h1>

    <ul *ngIf="showSucessMessage">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
    
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Song Artist</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let index of this.plinfo; let i = index">
                                <td>{{plinfo[i].SONGname}}</td>
                                <td>{{plinfo[i].SONGartist}}</td>
                                <td>
                                    <button (click)="infopage(plinfo[i])" title="View details">
                                        <img src="assets/image/information.png" height="25" width="25">
                                    </button>
                                    <button (click)="remove(plinfo[i])" title="Remove from list" *ngIf="showdelete">
                                        <img src="assets/image/delete.png" height="25" width="25">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    </ul>
    
    <div class="wrapper" *ngIf="showFailedMessage">
        <div id="formContent">
            <h1> No songs have been saved in this playlist! </h1>
        </div>
    </div>

    <form #signInForm="ngForm" (ngSubmit)="goback()">
        <input type="submit" value="Back">
    </form>

</div>