<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td>Account Status</td>
            <td>{{userDetails.status}}</td>
        </tr>
        <tr>
            <td>Account Level</td>
            <td>{{userDetails.level}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Log out" />
            </td>
        </tr>
    </tbody>
</table>