<div align="center">

    <h1> Song Information </h1>

    <table *ngIf="song" class="table-fill">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>{{song.Title}}</td>
            </tr>
            <tr>
                <td>Artist</td>
                <td>{{song.Artist}}</td>
            </tr>
            <tr>
                <td>Album</td>
                <td>{{song.Album}}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{song.Year}}</td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>{{song.Comment}}</td>
            </tr>
            <tr>
                <td>Track No.</td>
                <td>{{song.Track}}</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>{{song.Genre}}</td>
            </tr>
            <tr>
                <td>No. of reviews</td>
                <td>{{song.Nor}}</td>
            </tr>
            <tr>
                <td>Average rating</td>
                <td>{{song.Ar}}</td>
            </tr>
            <tr>
                <td>Contributor</td>
                <td>{{song.Addname}}</td>
            </tr>
            <tr>
                <td>Added time</td>
                <td>{{song.Addtime}}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input type="button" (click)="onLogout()" value="Back" />
                </td>
            </tr>
        </tbody>
    </table>

    <h1> Reviews </h1>

    <ul *ngIf="showSucessMessage">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
    
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Time</th>
                                <th>Rating</th>
                                <th>Comment</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let index of this.review; let i = index">
                                <td>{{review[i].Addname}}</td>
                                <td>{{review[i].Addtime}}</td>
                                <td>{{review[i].Rate}}</td>
                                <td>{{review[i].Text}}</td>
                            </tr>
                        </tbody>
    
                    </table>
                </div>
            </div>
        </div>
    </ul>
    
    <h3 *ngIf="showSucessMessage" style="color:red"> [ Sort by comment time ] </h3>

    <h1 *ngIf="showFailedMessage" style="color:red"> No reviews on this song yet! </h1>

</div>