<div align="center">

    <h1> Song Information </h1>

    <table *ngIf="song" class="table-fill">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>{{song.Title}}</td>
            </tr>
            <tr>
                <td>Artist</td>
                <td>{{song.Artist}}</td>
            </tr>
            <tr>
                <td>Album</td>
                <td>{{song.Album}}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{song.Year}}</td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>{{song.Comment}}</td>
            </tr>
            <tr>
                <td>Track No.</td>
                <td>{{song.Track}}</td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>{{song.Genre}}</td>
            </tr>
            <tr>
                <td>No. of reviews</td>
                <td>{{song.Nor}}</td>
            </tr>
            <tr>
                <td>Average rating</td>
                <td>{{song.Ar}}</td>
            </tr>
            <tr>
                <td>Contributor</td>
                <td>{{song.Addname}}</td>
            </tr>
            <tr>
                <td>Added time</td>
                <td>{{song.Addtime}}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input type="button" (click)="onLogout()" value="Back to TOP 10" />
                </td>
            </tr>
        </tbody>
    </table>





</div>