<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

    <input type="text" #email="ngModel" [(ngModel)]="model.email" name="email" placeholder="Email" required
    [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">

    <div *ngIf="signInForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">This info is required</label>
      <label *ngIf="email.errors.pattern" class="validation-message">Invalid email</label>
    </div>

    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="6"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">

    <div *ngIf="signInForm.submitted && password.errors">
      <label *ngIf="password.errors.required" class="validation-message">This info is required</label>
      <label *ngIf="password.errors.minlength" class="validation-message">At least 6 characters</label>
    </div>

    <input type="submit" value="LOG In">
    
  </form>
  
  <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  
    {{serverErrorMessages}}
    <br>
    <div *ngIf="serverErrorMessages=='User not activated!'">Haven't received the email yet?</div>

    <form #ReSendForm="ngForm" *ngIf="serverErrorMessages=='User not activated!'" (ngSubmit)="ReSend(signInForm)">
      <input type="submit" value="Resend Email">
    </form>

</div>