<div align="center">

<h1> TOP 10 Most Popular Songs </h1>

<ul>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Ranking</th>
                            <th style="display:none">Song ID</th>
                            <th>Song Title</th>
                            <th>Artist</th>
                            <th>No. of reviews</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let index of this.song; let i = index">
                            <td>{{i+1}}</td>
                            <td style="display:none">{{song[i].ID}}</td>
                            <td>{{song[i].Title}}</td>
                            <td>{{song[i].Artist}}</td>
                            <td>{{song[i].Nor}}</td>
                            <td>
                                <button (click)="infopage(song[i])" title="View details">
                                    <img src="assets/image/information.png" height="25" width="25">
                                </button>
                                <button (click)="infopage()" title="Add rating and review">
                                    <img src="assets/image/writereview.png" height="25" width="25">
                                </button>
                                <button (click)="infopage()" title="Add to playlist">
                                    <img src="assets/image/addtoplaylist.png" height="25" width="25">
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</ul>

<h3 style="color:red"> [ Sort by number of reviews ] </h3>

</div>