
<header>
    <div class="container">
        <a href="#" class="logo">TONY MUSIC</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/about">About Us</a></li>
                <li><a href="#" routerLink="/userprofile">User Profile</a></li>
                <li><a href="#" routerLink="/login">Log In / Out</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>

<h4>ECE9065 Final Project Website<br>Made by Zhaokai Sun, 251094021, zsun323@uwo.ca</h4>